<!DOCTYPE HTML>
<html>
<head>
  <title>Projects Page</title>
</head>
<body>
{{> header}}
  <ul>
    <li>IFE</li>
    <li>Report Portal</li>
    <li>Content Management</li>
  </ul>
 {{> footer}}
</body>
</html>
